body
{
	font-family: sans-serif;
	background-color: white;
	color: black;
}

a:hover
{
	background-color: rgb(255, 255, 200);
	color: black;
}

h1
{
	border: 2px dotted #4444ff;
	padding: 4px 4px 4px 8px;
	background-color: #ffffbb;
	font-size: 32pt;
	font-weight: bold;
}

.code
{
	border: 1px dotted #999999;
	padding: 2px 4px;
	font-family: monospace;
	background-color: #dddddd;
}

td
{
	vertical-align: top;
}

dt
{
	border-top: 2px solid #668866;
	background-color: #ccffcc;
	border-bottom: 1px dotted #88aa88;
        font-weight: bold;
}

dd
{
	margin-bottom: 2em;
}

ol li
{
	margin-top: 0.5em;
	margin-bottom: 1em;
}

ul li
{
	margin-top: 0em;
	margin-bottom: 0em;
}


