<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualRemote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VirtualRemote.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>100, 100, 620, 740</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDebugOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TF5800Remote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Toppy2Remote" serializeAs="String">
                <value>False</value>
            </setting>
        </VirtualRemote.Properties.Settings>
    </userSettings>
</configuration>